body {
    background-image: url('../Images/hotelroom.jpg');
    background-size: cover;
}
form{
    margin-top: 130px;
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 0px 6px;
    border-radius: 40px;
    height: 400px;
    
}

input{
    margin: 10px;
    padding: 7px 2px;
    border: none;
    border-bottom: 1px solid rgb(106, 100, 100);
}

.bottum{
    text-align: left;
}

.bottum span{
    font-size: 12px;
}

/* 
h1{
    margin: 14px 0px 3px 0p
 } */